apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ include "racedb.fullname" . }}-beat"
  labels:
    {{- include "racedb.labels" . | nindent 4 }}
    app.kubernetes.io/task: beat
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "racedb.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/task: beat
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "racedb.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/task: beat
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "racedb.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: [
            "/bin/sh",
            "-c",
            "celery -A racedb beat -l info --pidfile=/tmp/celery.pid -s /tmp/celerybeat-schedule",
            ]
          env:
            - name: CHART
              value: {{ .Chart.Version }}
            - name: BUILD
              value: {{ .Values.image.tag | quote }}
            - name: DJANGO_SETTINGS_MODULE
              value: "racedb.settings.settings"
            - name: WEBHOST
              value: {{ .Values.ingress.host }}
            - name: STORAGE
              value: {{ .Values.racedb.storage }}
            - name: SETTINGS
              value: {{ .Values.racedb.settings }}
            - name: DATABASE
              value: "postgres"
          volumeMounts:
            {{- if .Values.racedb.mountLocal }}
            - mountPath: /srv/racedb
              name: racedb
            {{- end }}
            - mountPath: /srv/racedb/racedb/secrets.py
              name: racedb-secrets
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        {{- if .Values.racedb.mountLocal }}
        - name: racedb
          hostPath:
            path: {{ .Values.racedb.devVolumePath }}
        {{- end }}
        - name: racedb-secrets
          hostPath:
            path: "{{ .Values.racedb.secretsVolumePath }}/secrets.py"
