repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        exclude: ^migrations/
  -   repo: https://github.com/adamchainz/django-upgrade
      rev: 1.29.1
      hooks:
      -   id: django-upgrade
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args: [--fix]  # Optional: automatically fix problems on commit
  - repo: https://github.com/Riverside-Healthcare/djlint
    rev: v1.36.4
    hooks:
      - id: djlint
        name: djlint lint
        args: ["--profile=django", "--reformat", "--indent=2", "--max-line-length=100"]
        types: [html]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
        exclude: ^deploy/helm/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
