celery==5.4.0
Django==5.0.5
django-redis==5.4.0
django-s3-storage==0.15.0
django-slack==5.19.0
flickrapi==2.4.0
gunicorn==22.0.0
gspread==6.1.0
mysqlclient==2.2.4
pytz==2024.1
requests==2.31.0
simplejson==3.19.2
