celery==5.5.2
Django==5.0.7
django-redis==5.4.0
django-s3-storage==0.15.0
django-slack==5.19.0
faker==37.1.0
flickrapi==2.4.0
gunicorn==23.0.0
gspread==6.2.0
mysqlclient==2.2.7
PyYAML==6.0.2
pytz==2025.2
requests==2.32.3
simplejson==3.20.1
