celery==5.4.0
Django==5.0.6
django-redis==5.4.0
django-s3-storage==0.15.0
django-slack==5.19.0
faker==25.8.0
flickrapi==2.4.0
gunicorn==22.0.0
gspread==6.1.2
mysqlclient==2.2.4
PyYAML==6.0.1
pytz==2024.1
requests==2.32.3
simplejson==3.19.2
