# Random 50 character string
# Maybe generate from http://www.miniwebtool.com/django-secret-key-generator/
SECRET_KEY = '{{ django_secret_key }}'

ADMINS = {{ django_admins }}

DB_PASSWORD = '{{ db_password }}'
DB_HOST = '{{ db_host }}'

EMAIL_HOST = '{{ smtp_host }}'
EMAIL_HOST_USER = '{{ smtp_user }}'
EMAIL_HOST_PASSWORD = '{{ smtp_password }}'

SLACK_TOKEN = '{{ slack_token }}'

RACEDB_STATIC_AWS_ACCESS_KEY_ID = '{{ racedb_static_aws_access_key_id }}'
RACEDB_STATIC_AWS_SECRET_ACCESS_KEY = '{{ racedb_static_aws_secret_access_key }}'
