# Random 50 character string
# Maybe generate from http://www.miniwebtool.com/django-secret-key-generator/

SECRET_KEY = 'vh)54sf43_y=)ti7@5592ju&yi$6=3^u(n__lmx022a548g&re'

ADMINS = [('Name', 'name@email.com'),]

DB_PASSWORD = 'CHANGEME'
DB_HOST = 'racedb_db'

EMAIL_HOST = 'smtp.domain.com'
EMAIL_HOST_USER = 'username'
EMAIL_HOST_PASSWORD = 'password'

SLACK_TOKEN = 'slack-token'
