# Random 50 character string
# Maybe generate from http://www.miniwebtool.com/django-secret-key-generator/

SECRET_KEY = 'vh)54sf43_y=)ti7@5592ju&yi$6=3^u(n__lmx022a548g&re'

ADMINS = [('Name', 'name@email.com'),]

DB_PASSWORD = 'CHANGEME'
DB_HOST = 'mariadb'

EMAIL_HOST = 'smtp.domain.com'
EMAIL_HOST_USER = 'username'
EMAIL_HOST_PASSWORD = 'password'

SLACK_TOKEN = 'slack-token'

RACEDB_STATIC_AWS_ACCESS_KEY_ID = 'racedb_static_aws_access_key_id'
RACEDB_STATIC_AWS_SECRET_ACCESS_KEY = 'racedb_static_aws_secret_access_key'

FLICKR_API_KEY = 'flickr-api-key'
FLICKR_SECRET_KEY = 'flickr-secret-key'

PROD_IPADDR = 'prod-ipaddr'
S3_PRIVATE_BUCKET = 's3-private-bucket'