{% extends "racedbapp/base.html" %}

{% block title %}
404 Error | Uh oh, wrong turn!
{% endblock title %}

{% block content %}
<div style="text-align:center; margin-top:2em;">
  <h1>404: You made a wrong turn!</h1>
  <p style="font-size:1.2em;">Looks like you veered off the course. The page you’re looking for isn’t here.</p>
  <p>
    <a href="/" style="color:#337ab7; text-decoration:underline;">Return to the homepage</a> or use the menu to get back on track.
  </p>
  <p style="margin-top:2em; color:#888; font-size:0.95em;">If you think this is a mistake, let us know and we’ll help you find your way!</p>
</div>
{% endblock content %}
