{% load static %}
{% load racedbapp_extras %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock title %}Run Waterloo Results</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/spacelab/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "custom.css" %}">
  <script src="https://kit.fontawesome.com/bca92b326c.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="{% static "rw-fav.png" %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  {% block ogmeta %}{% endblock ogmeta %}
</head>

<body>

  {% if not nomenu %}
  <nav class="navbar navbar-default navbar-fixed-top navbar-left">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{% static "rw-results.png" %}" height="45px"
            alt="Run Waterloo Results"></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/events">Events</a></li>
          <li><a href="/members/">Members</a></li>
          <li><a href="/boost/latest/">Boost</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Records
              <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/distance/{{ ''|get_default_record_distance_slug }}/">Distance</a></li>
              <li><a href="/multiwins/">Wins</a></li>
              <li class="divider"></li>
              <li><a href="/race/waterloo-classic/10-km">Waterloo 10 KM Classic</a></li>
              <li><a href="/race/fall-classic/5-km/">Fall 5 KM Classic (Oktoberfest Run)</a></li>
              <li><a href="/race/re-fridgee-eighter/8-km">Re-Fridgee-Eighter</a></li>
              <li><a href="/endurrun/">ENDURrun</a></li>
              <li><a href="/race/endurrace/combined">ENDURrace</a></li>
              <li><a href="/race/laurier-loop/2_5-km">Laurier Loop</a></li>
              <li><a href="/race/rememberrun/5-km">RememberRun</a></li>
              <li><a href="/race/santa-pur-suit/3-km">Santa Pur-suit</a></li>
              <li><a href="/race/cone5togo/5-km">cone5togo</a></li>
              <li><a href="/race/harvest/half-marathon">Harvest Half</a></li>
              <li><a href="/race/runway/2-mi">The Runway</a></li>
            </ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Series
              <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/endurrun/">ENDURrun</a></li>
              <li><a href="/series/baden-back-2-back/">Baden Back-2-Back</a></li>
              <li><a href="/bow/bow-v">Battle of Waterloo</a></li>
              <li><a href="/endurrace/latest/">ENDURrace Combined</a></li>
            </ul>
          </li>
          <form class="navbar-form navbar-left" role="search" action="/name/" method="get">
            <div class="form-group has-feedback">
              <input type="text" class="form-control" placeholder="Find name" name="q" size="8">
              <span class="form-control-feedback"><i class="fas fa-search"></i></span>
            </div>
          </form>
        </ul>
        {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                class="fas fa-cog"></i></span>
              <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Hello, {{ user|title }}</a></li>
              <li class="divider"></li>
              <li><a href="/admin/">Django</a></li>
              <li><a href="/adminphotos/">Photos</a></li>
              <li><a href="https://pre.scrw.ca/admin/">Pre Admin</a></li>
              <li><a href="https://pre.scrw.ca/update?updatekey={{ ''|get_prekey }}">Pre Update (today)</a></li>
              <li><a href="https://pre.scrw.ca/update?updatekey={{ ''|get_prekey }}&daysago=1">Pre Update
                  (yesterday)</a></li>
              <li><a href="https://pre.scrw.ca/notify_sites?updatekey={{ ''|get_prekey }}">Pre Notify Sites</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container starter-template">

    {% else %}
    <div class="container">


      {% endif %}


      {% block content %}{% endblock content %}
      {% if not nomenu %}
      <div class="padding-for-sponsor">
        <p>
          Results &copy; 1978-2023 Run Waterloo. Owned and maintained by Run Waterloo. For more information, contact <a
            href="mailto:results@runwaterloo.com?Subject=Run Waterloo Results"
            target="_top">results@runwaterloo.com</a>.</p>
        <a href="https://twitter.com/RW_Results" target="_blank"><img src="{% static "twitter-logo.png" %}"
            height="50"></a>
        <a href="https://www.flickr.com/photos/runwaterloo/albums" target="_blank"><img
            src="{% static "flickr-logo.png" %}" height="50"></a>
        <a href="http://runwaterloo.com" target="_blank" class="pull-right"><img
            src="{% static "rw-logo-horizontal.png" %}" height="50"></a>
      </div>
      <div class="text-center">
        <nav class="navbar navbar-default navbar-fixed-bottom navbar-left">
          <div class="container">
            <div class="navbar-header">
              <a href="https://runwaterloo.com/about/sponsors/" target="_blank">
                <img src="{% static "runwaterloo-sponsor-logos.png" %}" class="img-responsive">
              </a>
            </div>
          </div>
        </nav>
      </div>
      {% endif %}
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
<script>
  if (document.location.hostname.search("results.runwaterloo.com") !== -1) {
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-73758437-1', 'auto');
    ga('send', 'pageview');
  }

</script>

</html>
