{% extends "racedbapp/base.html" %}

{% load racedbapp_extras %}

{% block ogmeta %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="RunWaterloo Results" />
  <meta property="og:description" content="Explore results and records for every RunWaterloo event." />
  <meta property="og:image" content="/static/ogimage.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
 <h3>Events</h3>
   Year: <select onchange="location = this.options[this.selectedIndex].value;">
   <option>{{ yearfilters.current }}</option>
     {% for choice in yearfilters.choices %}
       <option value="{{ choice.url }}">{{ choice.name }}</option>
     {% endfor %}
    </select>
   &nbsp;&nbsp;&nbsp;Race: <select onchange="location = this.options[this.selectedIndex].value;">
   <option>{{ racefilters.current }}</option>
     {% for choice in racefilters.choices %}
       <option value="{{choice.url }}">{{ choice.name }}</option>
      {% endfor %}
    </select>
   &nbsp;&nbsp;&nbsp;Distance: <select onchange="location = this.options[this.selectedIndex].value;">
   <option>{{ distancefilters.current }}</option>
     {% for choice in distancefilters.choices %}
       <option value="{{ choice.url }}">{{ choice.name }}</option>
      {% endfor %}
    </select>
  <small>
  &nbsp;&nbsp;&nbsp;[ <a href="/events">clear filters</a> ]
  </small>
  </p>
  <table class="table table-striped table-hover">
   <tr>
   <th>Race</th>
   <th colspan=2 class="text-center">Female Winner</th>
   <th colspan=2 class="text-center">Male Winner</th>
   <th class="text-center" scope="col">
     <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
   </th>
   </tr>
  {% for event in events %}
    <tr>
      <td><a href="/event/{{ event.year }}/{{ event.race_slug }}/{{event.distance_slug}}">{{ event.year }} {{ event.race_name }} {{ event.distance_name }}</a></td>
      {% if event.femalemember %}
        <td><a href="/member/{{ event.femalemember.slug }}/">{{ event.femalewinner }}</a></td>
      {% else %}
        <td>{{ event.femalewinner }}</td>
      {% endif %}
      <td>{{ event.femaletime|get_time }}</td>
      {% if event.malemember  %}
        <td><a href="/member/{{ event.malemember.slug }}/">{{ event.malewinner }}</a></td>
      {% else %}
        <td>{{ event.malewinner }}</td>
      {% endif %}
      <td>{{ event.maletime|get_time }}</td>
      {% if event.flickrsetid %}
        <td class="text-center"><a href="https://www.flickr.com/photos/runwaterloo/albums/{{ event.flickrsetid }}" target="_blank"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a></td>
      {% else %}
        <td></td>
      {% endif %}
    </tr>
   {% endfor %}
  </table>
{% endblock content %}
