{% load racedbapp_extras %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
  {% include "racedbapp/index_last-race-row1.html" %}
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p></p>
      <ul class="pagination">
        {% for i in distances %}
          {% if i == recap_event.distance %}
            <li>
              <a href="/event/{{ recap_event.date.year }}/{{ recap_event.race.slug }}/{{ i.slug }}/"><b>{{ i }}</b></a>
            </li>
          {% else %}
            <li>
              <a href="/event/{{ recap_event.date.year }}/{{ recap_event.race.slug }}/{{ i.slug }}/">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <table class="table">
        <tr class="info">
          <th>Place</th>
          <th colspan=2>Female</th>
          <th colspan=2>Male</th>
        </tr>
        {% for r in recap_results %}
          <tr>
            <td>
              {% if r.place == "1st OA" %}
                <i class="fas fa-trophy fa-icon-1st-oa" title="1st Overall"></i>
              {% endif %}
              {% if r.place == "2nd OA" %}
                <i class="fas fa-medal fa-icon-2nd-oa" title="2nd Overall"></i>
              {% endif %}
              {% if r.place == "3rd OA" %}
                <i class="fas fa-medal fa-icon-3rd-oa" title="3rd Overall"></i>
              {% endif %}
              {% if r.place == "1st Master" %}
                <i class="fas fa-medal fa-icon-1st-master" title="1st Master"></i>
              {% endif %}
              {{ r.place }}
            </td>
            {% if r.female_member_slug %}
              <td>
                <a href="/member/{{ r.female_member_slug }}/">{{ r.female_athlete }}</a>
              </td>
            {% else %}
              <td>{{ r.female_athlete }}</td>
            {% endif %}
            <td>{{ r.female_time|round_up }}</td>
            {% if r.male_member_slug %}
              <td>
                <a href="/member/{{ r.male_member_slug }}/">{{ r.male_athlete }}</a>
              </td>
            {% else %}
              <td>{{ r.male_athlete }}</td>
            {% endif %}
            <td>{{ r.male_time|round_up }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
