{% extends "racedbapp/base.html" %}

{% load static %}
{% load racedbapp_extras %}

{% block ogmeta %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="RunWaterloo Results" />
  <meta property="og:description" content="Explore results and records for every RunWaterloo event." />
  <meta property="og:image" content="{% static "ogimage.png" %}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h2></h2>

<!-- START FIRST ROW -->
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <img class="img-responsive img-rounded" src="{% static "race_logos/"|add:lastraceday.0.event.race.slug|add:".png" %}"/>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <h2>LAST RACE</h2>
        <h3>
          <a href="/event/{{ lastraceday.0.event.date.year }}/{{ lastraceday.0.event.race.slug }}">
            {{ lastraceday.0.event.race.name }}
          </a>
        </h3>
        <div class="date">{{ lastraceday.0.event.date }}</div>
        <div class="city">{{ lastraceday.0.event.city }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p></p>
        <ul class="pagination">
        {% for i in lastraceday %}
          {% if i.event.distance == recap_event.event.distance %}
            <li><a href="/event/{{ i.event.date.year }}/{{ i.event.race.slug }}/{{ i.event.distance.slug }}/"><b>{{ i.event.distance }}</b></a></li>
          {% else %}
            <li><a href="/event/{{ i.event.date.year }}/{{ i.event.race.slug }}/{{ i.event.distance.slug }}/">{{ i.event.distance }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
        <table class="table">
          <tr class="info">
            <th>Place</th>
            <th colspan=2>Female</th>
            <th colspan=2>Male</th>
          </tr>
          {% for r in recap_event.recap %}
            <tr>
              <td>{{ r.place }}</td>
              {% if r.female_member_slug %}
                <td><a href="/member/{{ r.female_member_slug }}/">{{ r.female_athlete }}</a></td>
              {% else %}
                <td>{{ r.female_athlete }}</td>
              {% endif %}
              <td>{{ r.female_time }}</td>
              {% if r.male_member_slug %}
                <td><a href="/member/{{ r.male_member_slug }}/">{{ r.male_athlete }}</a></td>
              {% else %}
                <td>{{ r.male_athlete }}</td>
              {% endif %}
              <td>{{ r.male_time }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="row">
      <hr class="hidden-lg">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="profile-outer">
          <div class="profile-inner">
            <a href="{{ memberinfo.member.photourl }}">
              <img src="{{ memberinfo.member.photourl }}">
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2 style="margin-left: 5px;">MEMBER<br>SPOTLIGHT</h2>
          <h3 style="margin-left: 5px;">#{{ memberinfo.member.id }} <a href="/member/{{ memberinfo.member.slug }}/">{{ memberinfo.member.name }}</a></h3>
          <table style="margin-left: 5px;" class="table table-bordered">
            <tr>
              <td>Member Since</td>
              <td>{{ memberinfo.member.joindate.year }}</td>
            </tr>
            <tr>
              <td>Racing Since</td>
              <td>{{ memberinfo.racing_since }}</td>
            </tr>
            <tr>
              <td>KM Raced</td>
              <td>{{ memberinfo.km }}</td>
            </tr>
            {% if memberinfo.fivek_pb %}
              <tr>
                <td>5 KM PB</td>
                <td><a href="/event/{{ memberinfo.fivek_pb.event.date.year }}/{{ memberinfo.fivek_pb.event.race.slug }}/{{ memberinfo.fivek_pb.event.distance.slug }}/">{{ memberinfo.fivek_pb.guntime }}</a></td>
              </tr>
            {% endif %}
            {% if memberinfo.tenk_pb %}
              <tr>
                <td>10 KM PB</td>
                <td><a href="/event/{{ memberinfo.tenk_pb.event.date.year }}/{{ memberinfo.tenk_pb.event.race.slug }}/{{ memberinfo.tenk_pb.event.distance.slug }}/">{{ memberinfo.tenk_pb.guntime }}</a></td>
              </tr>
            {% endif %}
          </table>
      </div>
    </div>
  </div>
</div>
<!-- END FIRST ROW -->

<!-- START SECOND ROW -->
{% if featured_event %}
  <div class="row">
    <hr>
    <center><h2>NEXT FEATURED EVENT</h2></center>
    <div class="col-xs-l col-sm-3 col-md-3 col-lg-2">
      <center><img class="img-responsive upcoming-race" src="{% static "race_logos/"|add:featured_event.race.slug|add:".png" %}"></img></center>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
      <br>
      <strong><a href="https://runwaterloo.com/{{ featured_event.race.slug }}/">{{ featured_event.race.name }}</strong></a><br>
      <br>
      <strong>{{ featured_event.distance.name }}</strong><br>
      {{ featured_event.date }}<br>
      {{ featured_event.city }}<br>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <p></p>
      <table class="table table-condensed">
        <tr class="info">
          <th>Record</th>
          <th>Time</th>
          <th>Name</th>
          <th>Year</th>
          <th>Category</th>
          <th>Pace</th>
          <th>City</th>
        </tr>
        {% for record in featured_event_records %}
        <tr>
          {% ifchanged record.place %}
            <td>{{ record.place }}</td>
          {% else %}
            <td></td>
          {% endifchanged %}
          <td>{{ record.guntime|get_time }}</td>
          {% if record.member %}
            <td><a href="/member/{{ record.member.slug }}/">{{ record.athlete }}</a></td>
          {% else %}
            <td>{{ record.athlete }}</td>
          {% endif %}
          <td><a target="_blank" href="/event/{{ record.year }}/{{ record.race_slug }}/{{ fe.distance.slug }}">{{ record.year }}</a></td>
          <td>{{ record.category }}</td>
          <td>{{ record.guntime|get_pace:featured_event.distance.km }}</td>
          <td>{{ record.city }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endif %}
<!-- END SECOND ROW -->

<!-- START THIRD ROW -->
  <div class="row">
    <hr>
    <center><h2>MORE UPCOMING EVENTS</h2></center>
    {% for fe in future_events %}
    <div class="col-xs-l col-sm-3 col-md-3 col-lg-2">
      <center><img class="img-responsive upcoming-race" src="{% static "race_logos/"|add:fe.race.slug|add:".png" %}"></img></center>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
      <br>
      <strong><a href="https://runwaterloo.com/{{ fe.race.slug }}/">{{ fe.race.name }}</strong></a><br>
      <br>
      <strong>{{ fe.distance.name }}</strong><br>
      {{ fe.event.date }}<br>
      {{ fe.event.city }}<br>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <p></p>
      <table class="table table-condensed">
        <tr class="info">
          <th>Record</th>
          <th>Time</th>
          <th>Name</th>
          <th>Year</th>
          <th>Category</th>
          <th>Pace</th>
          <th>City</th>
        </tr>
        {% for record in fe.records %}
        <tr>
          {% ifchanged record.place %}
            <td>{{ record.place }}</td>
          {% else %}
            <td></td>
          {% endifchanged %}
          <td>{{ record.guntime|get_time }}</td>
          {% if record.member %}
            <td><a href="/member/{{ record.member.slug }}/">{{ record.athlete }}</a></td>
          {% else %}
            <td>{{ record.athlete }}</td>
          {% endif %}
          <td><a target="_blank" href="/event/{{ record.year }}/{{ record.race_slug }}/{{ fe.distance.slug }}">{{ record.year }}</a></td>
          <td>{{ record.category }}</td>
          <td>{{ record.guntime|get_pace:fe.distance.km }}</td>
          <td>{{ record.city }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endfor %}
  </div>
  <br>
<!-- END THIRD ROW -->

{% endblock content %}
