{% extends "racedbapp/base.html" %}

{% load static %}
{% load racedbapp_extras %}

{% block ogmeta %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="RunWaterloo Results" />
  <meta property="og:description" content="Explore results and records for every RunWaterloo event." />
  <meta property="og:image" content="{% static "ogimage.png" %}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<!-- START FIRST ROW -->

<div class="row">
  <!-- START FIRST COLUMN -->
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h2>Last Race</h2>

    <div class="row">
      <img class="img-rounded col-sm-4" src="{% static "race_logos/"|add:lastraceday.0.event.race.slug|add:".png" %}"/>
      <div class="col-sm-8">
        <h3>
          <a href="/event/{{ lastraceday.0.event.date.year }}/{{ lastraceday.0.event.race.slug }}">
            {{ lastraceday.0.event.race.shortname }}
          </a>
        </h3>

        <div class="date">{{ lastraceday.0.event.date }}</div>
        <div class="city">{{ lastraceday.0.event.city }}</div>


      </div>
    </div>






    {% for lrd in lastraceday %}
      <div class="last-race">
        <h4>
            <a href="/event/{{ lrd.event.date.year }}/{{ lrd.event.race.slug }}/{{ lrd.event.distance.slug }}/">
              {{ lrd.event.distance }}
            </a>
        </h4>

        <div class="num-finishers">{{ lrd.finishers }} finishers</div>


        <table class="table">
          <tr class="info">
            <th>Place</th>
            <th colspan=2>Female</th>
            <th colspan=2>Male</th>
          </tr>
        {% for r in lrd.recap %}
          <tr>
            <td>{{ r.place }}</td>
            {% if r.female_member_slug %}
              <td><a href="/member/{{ r.female_member_slug }}/">{{ r.female_athlete }}</a></td>
            {% else %}
              <td>{{ r.female_athlete }}</td>
            {% endif %}
            <td>{{ r.female_time }}</td>
            {% if r.male_member_slug %}
              <td><a href="/member/{{ r.male_member_slug }}/">{{ r.male_athlete }}</a></td>
            {% else %}
              <td>{{ r.male_athlete }}</td>
            {% endif %}
            <td>{{ r.male_time }}</td>
          </tr>
        {% endfor %}
        </table>
      </div>
    {% endfor %}
  </div>
  <!-- END FIRST COLUMN -->
  <!-- START SECOND COLUMN -->
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h2>Member Spotlight</h2>
    <div class="row">
        <img class="img-rounded col-sm-7" src="{{ memberinfo.member.photourl }}">
        <div class="col-sm-5">
          <h3>#{{ memberinfo.member.id }} <a href="/member/{{ memberinfo.member.slug }}/">{{ memberinfo.member.name }}</a></h3>

          <table class="table table-bordered">
            <tr>
              <td>Member Since</td>
              <td>{{ memberinfo.member.joindate.year }}</td>
            </tr>
            <tr>
              <td>Racing Since</td>
              <td>{{ memberinfo.racing_since }}</td>
            </tr>
            <tr>
              <td>KM Raced</td>
              <td>{{ memberinfo.km }}</td>
            </tr>
          </table>

          {% for rb in memberinfo.badges %}
             <img src="{% static "achievements/"|add:rb.image %}" title="{{ rb.name }}&#10;{{ rb.date }}" height="75" width="75" hspace="5" vspace="5">
          {% endfor %}
        </div>
    </div>


    </div>
  </div>
  <!-- END SECOND COLUMN -->
</div>
<!-- END FIRST ROW -->

<!-- START SECOND ROW -->
<div class="row">
  <!-- START FIRST (ONLY) COLUMN -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <center><h3>Upcoming Timed Events</h3></center>
    {% for fe in future_events %}
    <div class="upcoming-race-outer">
      <div class="upcoming-race-inner">
        <img class="upcoming-race" src="{% static "race_logos/"|add:fe.race.slug|add:".png" %}" height="100"></img>
      </div>
      <div class="upcoming-race-inner">
        <strong>{{ fe.race.name }}</strong><br>
        {{ fe.distance.name }}<br>
        {{ fe.event.date }}<br>
        {{ fe.event.city }}<br>
      </div>
      <div class="upcoming-race-inner">
      {% if fe.records %}
<table class="table table-condensed">
  <tr class="info">
    <th>Individual</th>
    <th>Time</th>
    <th>Name</th>
    <th>Year</th>
    <th>Category</th>
    <th>Pace</th>
    <th>City</th>
  </tr>
  {% for record in fe.records %}
  <tr>
{% ifchanged record.place %}
<td>{{ record.place }}</td>
{% else %}
<td></td>
{% endifchanged %}
    <td>{{ record.guntime|get_time }}</td>
    {% if record.member %}
      <td><a href="/member/{{ record.member.slug }}/">{{ record.athlete }}</a></td>
    {% else %}
      <td>{{ record.athlete }}</td>
    {% endif %}
    {% if fe.distance.slug == 'combined' %}
        <td><a target="_blank" href="/endurrace/{{ record.year }}/">{{ record.year }}</a></td>
    {% else %}
        <td><a target="_blank" href="/event/{{ record.year }}/{{ record.race_slug }}/{{ fe.distance.slug }}">{{ record.year }}</a></td>
    {% endif %}
    <td>{{ record.category }}</td>
    <td>{{ record.guntime|get_pace:fe.distance.km }}</td>
    <td>{{ record.city }}</td>
  </tr>
  {% endfor %}
</table>

{% if fe.hill_records|length > 0 %}
<table class="table table-striped table-condensed">
  <tr class="info">
    <th>Hill Sprint</th>
    <th>Time</th>
    <th>Name</th>
    <th>Year</th>
    <th>Category</th>
    <th>City</th>
  </tr>
{% for record in fe.hill_records %}
<tr>
{% ifchanged record.place %}
<td>{{ record.place }}</td>
{% else %}
<td></td>
{% endifchanged %}
<td>{{ record.guntime }}</td>
<td>{{ record.athlete }}</td>
<td><a target="_blank" href="/event/{{ record.year }}/{{ record.race_slug }}/{{ fe.distance.slug }}/?hill=true">{{ record.year }}</td>
<td>{{ record.category }}</td>
<td>{{ record.city }}</td>
</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% if fe.team_records|length > 0 %}
<table class="table table-condensed">
  <tr class="info">
    <th>Team Category</th>
    <th>Total Time</th>
    <th>Winning Team</th>
    <th>Year</th>
    <th>Avg Time</th>
  </tr>
  {% for record in fe.team_records %}
  <tr>
{% ifchanged record.team_category_name %}
    <td>{{ record.team_category_name }}</td>
{% else %}
<td></td>
{% endifchanged %}
    <td>{{ record.total_time }}</td>
    <td>{{ record.winning_team }}</td>
    <td><a target="_blank" href="/event/{{ record.year }}/{{ record.race_slug }}/{{ distance.slug }}/team/{{ record.team_category_slug }}">{{ record.year }}</a></td>
    <td>{{ record.avg_time }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% else %}
<h1>Inaugural</h1>
{% endif %}

      </div>
    </div>
    {% endfor %}
  </div>
  <!-- END FIRST (ONLY) COLUMN -->
</div>
<!-- END SECOND ROW -->
{% endblock content %}
