{% extends "racedbapp/base.html" %}

{% load static %}
{% load racedbapp_extras %}

{% block ogmeta %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="RunWaterloo Results" />
  <meta property="og:description" content="Explore results and records for every RunWaterloo event." />
  <meta property="og:image" content="{% static "ogimage.png" %}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <center><h3>Last Race</h3></center>
    <center><h5>stuff goes here</h5></center>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <center><h3>Member Spotlight</h3></center>
    <center><h5>stuff goes here</h5></center>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <center><h3>Upcoming Timed Events</h3></center>
    {% for fe in future_events %}
    <div class="upcoming-race-outer">
      <div class="upcoming-race-inner">
        <img class="upcoming-race" src="{% static "race_logos/"|add:fe.race.slug|add:".png" %}" height="100"></img>
      </div>
      <div class="upcoming-race-inner">
        <strong>{{ fe.race.name }}</strong><br>
        {{ fe.distance.name }}<br>
        {{ fe.date }}<br>
        {{ fe.city }}<br>
      </div>
      <div class="upcoming-race-inner">
      records here
      </div>
    </div> 
    {% endfor %}
  </div>
</div>
{% endblock content %}
