{% load racedbapp_extras %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
  {% include "racedbapp/index_last-race-row1.html" %}
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p></p>
      <ul class="pagination">
      <li><a href="/endurrace/{{ recap_event.date.year }}/"><b>Combined</b></a></li>
      {% for i in distances %}
          <li><a href="/event/{{ recap_event.date.year }}/{{ recap_event.race.slug }}/{{ i.slug }}/">{{ i }}</a></li>
      {% endfor %}
      </ul>
      <table class="table">
        <tr class="info">
          <th>Place</th>
          <th colspan=2>Female</th>
          <th colspan=2>Male</th>
        </tr>
        {% for r in recap_results %}
          <tr>
            <td>{{ r.place }}</td>
            {% if r.female_member_slug %}
              <td><a href="/member/{{ r.female_member_slug }}/">{{ r.female_athlete }}</a></td>
            {% else %}
              <td>{{ r.female_athlete }}</td>
            {% endif %}
            <td>{{ r.female_time|round_up }}</td>
            {% if r.male_member_slug %}
              <td><a href="/member/{{ r.male_member_slug }}/">{{ r.male_athlete }}</a></td>
            {% else %}
              <td>{{ r.male_athlete }}</td>
            {% endif %}
            <td>{{ r.male_time|round_up }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
