{% extends "racedbapp/base.html" %}
{% load static %}
{% load racedbapp_extras %}
{% block title %}
  Members
  |
{% endblock title %}
{% block ogmeta %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Run Waterloo Results" />
  <meta property="og:description"
        content="Explore results and records for every Run Waterloo event." />
  <meta property="og:image" content="{% static "ogimage.png" %}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <script src="{% static "jquery.filtertable.min.js" %}"></script>
{% endblock ogmeta %}
{% block content %}
  <h3>
    Members <small><a href="http://www.runwaterloo.com/membership" target="_blank"><i class="fas fa-info-circle"></i></a></small>
  </h3>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <!-- search input -->
      <div class="row">
        <a href="{% if request.GET.ordering == None or request.GET.ordering == 'id' %}?ordering=date{% else %}?ordering=id{% endif %}">
          <button>
            Sort by
            {% if request.GET.ordering == None or request.GET.ordering == 'id' %}
              First Result
            {% else %}
              Joined Date
            {% endif %}
          </button>
        </a>
        <div class="col-xs-6">
          <div class="form-group">
            <input class="form-control input-sm"
                   type="text"
                   id="input-filter"
                   placeholder="Search members..."
                   size="12">
          </div>
        </div>
      </div>
      <!-- end search input -->
      <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
          <tr class="info">
            <th class="text-center" scope="col">#</th>
            <th class="text-left" scope="col">Name</th>
            <th class="text-center" scope="col">G</th>
            <th class="text-left" scope="col">City</th>
            <th class="text-center" scope="col">Member Since</th>
            <th class="text-center" scope="col">First Result</th>
            {% if request.GET.ordering == 'date' %}
              <th class="text-center" scope="col">Rank by Date of First Result</th>
            {% endif %}
            <th class="text-center" scope="col">
              <i class="fas fa-camera"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for m in members %}
            <tr>
              <td class="text-center">{{ m.id }}</td>
              <td class="text-left">
                <a href="/member/{{ m.slug }}/">{{ m.name }}</a>
              </td>
              <td class="text-center">{{ m.gender }}</td>
              <td class="text-left">{{ m.city }}</td>
              <td class="text-center">{{ m.joindate.year }}</td>
              <td class="text-center">{{ member_event_dates|get_date:m.id }}</td>
              {% if request.GET.ordering == 'date' %}
                <td class="text-center">{{ members|get_ranking:m }}</td>
              {% endif %}
              {% if m.hasphotos %}
                {% if m not in no_camera_members %}
                  <td class="text-center">
                    <a href="https://www.flickr.com/photos/runwaterloo/tags/m{{ m.id }}?sort=date-taken-desc"
                       target="_blank">
                      <i class="fas fa-camera"></i>
                    </a>
                  </td>
                {% else %}
                  {% if user.is_authenticated %}
                    <td class="text-center">
                      <a href="https://www.flickr.com/photos/runwaterloo/tags/m{{ m.id }}?sort=date-taken-desc"
                         target="_blank">
                        <i class="fas fa-camera fa-icon-notcounts"></i>
                      </a>
                    </td>
                  {% else %}
                    <td></td>
                  {% endif %}
                {% endif %}
              {% else %}
                <td></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <script>
        $('table').filterTable({inputSelector: '#input-filter', minRows: 0}); // apply filterTable to all tables on this page
      </script>
    </div>
  </div>
{% endblock content %}
