{% extends "racedbapp/base.html" %}
{% load static %}
{% load racedbapp_extras %}

{% block title %}
 New Thing
  |
{% endblock title %}

{% block ogmeta %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="RunWaterloo Results" />
  <meta property="og:description" content="Explore results and records for every RunWaterloo event." />
  <meta property="og:image" content="{% static "ogimage.png" %}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <script src="{% static "jquery.filtertable.min.js" %}"></script>
{% endblock ogmeta %}

{% block content %}

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h3>New Thing {{ year }} <small><a href="http://www.runwaterloo.com" target="_blank"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h3></small>
    <h4>Score Report for: <a href="/member/{{ member_results.slug }}/">{{ member_results.athlete }}</a></h4>
    <h5>Total Points:
    <strong>{{ member_results.total_points|floatformat:"2" }}</strong>
    &nbsp;|&nbsp;Event Finishes:
    {{ member_results.results|length }}</h5>
    <h5>Gender Place:
    X / Y
    &nbsp;|&nbsp;Category Place:
    X / Y</h5>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table class="table table-bordered table-condensed table-striped">
      <tr class="info">
        <th class="text-center">Event</th>
        <th class="text-center">Gun Time</th>
        <th class="text-center">GP</th>
        <th class="text-center">Finish</th>
        <th class="text-center">Merit</th>
        <th class="text-center">Boosters</th>
        <th class="text-center">Points</th>
        <th class="text-center">Counts</th>
      </tr>
      {% for i in member_results.results %}
        <tr>
          <td><a href="/event/{{ year }}/{{ i.event_race_slug }}/{{ i.event_distance_slug }}/">{{ i.event_race_name }} {{ i.event_distance_name }}</a></td>
          <td class="text-center">{{ i.guntime|get_time }}</td>
          <td class="text-center">{{ i.gender_place }}/{{ i.gender_finishers }}</td>
          <td class="text-center">{{ i.pp|floatformat:"0" }}</td>
          <td class="text-center">{{ i.mp|floatformat:"2" }}</td>
          <td class="text-center">
            {% if i.ace_boost > 0 %}
              A
            {% endif %}
            {% if i.pb_boost > 0 %}
              P
            {% endif %}
            {% if i.classic_boost > 0 %}
              C
            {% endif %}
          </td>
          <td class="text-center">{{ i.ep|floatformat:"2" }}</td>
          <td class="text-center">
            {% if i.counts %}
              <span class="glyphicon glyphicon-ok success" style="color:green" aria-hidden="true"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<p>
<strong>Boosters</strong><br>
A = Ace ({% widthratio boosters.ace_boost 1 100 %}%) - Repeating a race from last year (any distance)<br>
P = PB ({% widthratio boosters.pb_boost 1 100 %}%) - RunWaterloo PB for the distance<br>
C = Classic ({% widthratio boosters.pb_boost 1 100 %}%) - One of RunWaterloo's Classic races
</p>
{% endblock content %}
