{% extends "racedbapp/base.html" %}

{% load static %}
{% load racedbapp_extras %}

{% block ogmeta %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Run Waterloo Results" />
  <meta property="og:description" content="Explore results and records for every Run Waterloo event." />
  <meta property="og:image" content="{% static "ogimage.png" %}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
{% endblock ogmeta %}


{% block content %}
<div class="row">
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
<h3>Race History: <small>{{ race.shortname }}
   {% if race.name == 'ENDURrun' %}
     {% if distance.slug == 'half-marathon' %}
     Stage 1 -
     {% elif distance.slug == '15-km' %}
     Stage 2 -
     {% elif distance.slug == '30-km' %}
     Stage 3 
     {% elif distance.slug == '10-mi' %}
     Stage 4 -
     {% elif distance.slug == '25_6-km' %}
     Stage 5 -
     {% elif distance.slug == '10-km' %}
     Stage 6 -
     {% elif distance.slug == 'marathon' %}
     Stage 7 -
     {% endif %}
   {% endif %}
{{ distance.name }}</small></h3>
<ul class="pagination">
{% for d in distances %}
  {% if d == distance %}
    <li class="active"><a href="#">{{ d.name }}</a></li>
  {% else %}
    <li><a href="/race/{{ race.slug }}/{{ d.slug }}">{{ d.name }}</a></li>
  {% endif %}
{% endfor %}
</ul>
<p>
<h4>Results</h4>
 Year: <select onchange="location = this.options[this.selectedIndex].value;">
 <option></option>
   {% for year in years %}
     {% if distance.slug == 'combined' %}
         <option value="/endurrace/{{ year.year }}/">{{ year.year }}</option>
     {% else %}
         <option value="/event/{{ year.year }}/{{ year.race_slug }}/{{ distance.slug }}">{{ year.year }}</option>
     {% endif %}
   {% endfor %}
  </select>
</div>
     <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
     {% if race.slug == 'endurrun' %}
      <a href="http://www.endurrun.com"><img class="pull-right" src="{% static "endurrun.png" %}" height="70" style="PADDING-TOP: 20px"></a>
     {% else %}
     <div style="padding-top: 20px; padding-bottom: 20px">
      <img class="img-rounded pull-right" src="{% static "race_logos/"|add:race.slug|add:".png" %}" height="150">
    </div>
     {% endif %}
     </div>
   </div>
{% if race.name == 'ENDURrun' %}
<h4>Division:
 <select onchange="location = this.options[this.selectedIndex].value;">
 <option>{{ division_choice }}</option>
   {% for division in divisions %}
     {% if division_choice != division %}
       {% if division == 'Ultimate' %}
         <option value="/race/{{ race.slug }}/{{ distance.slug }}/">{{ division }}</option>
       {% elif division == 'Sport' %}
         {% if distance.slug == '25_6-km' or distance.slug == '10-km' or distance.slug == 'marathon' %}
           <option value="/race/{{ race.slug }}/{{ distance.slug }}/?division={{ division }}">{{ division }}</option>
         {% endif %}
       {% else %}
         <option value="/race/{{ race.slug }}/{{ distance.slug }}/?division={{ division }}">{{ division }}</option>
       {% endif %}
     {% endif %}
   {% endfor %}
  </select>
 </h4>
{% endif %}
<h4>Records</h4>
<table class="table table-striped table-condensed">
<tr class="info">
<th>Individual</th>
<th>Time</th>
<th>Name</th>
<th>Year</th>
{% if race.slug == 'endurrun' %}
<th>Age</th>
{% else %}
<th>Category</th>
{% endif %}
<th>Pace</th>
<th>City</th>
</tr>
{% for record in records %}
<tr>
{% ifchanged record.place %}
<td>{{ record.place }}</td>
{% else %}
<td></td>
{% endifchanged %}
<td>{{ record.guntime|round_up }}</td>
{% if record.member %}
<td><a href="/member/{{ record.member.slug }}/">{{ record.athlete }}</a></td>
{% else %}
<td>{{ record.athlete }}</td>
{% endif %}
{% if distance.slug == 'combined' %}
  <td><a href="/endurrace/{{ record.year }}/">{{ record.year }}</td>
{% else %}
  <td><a href="/event/{{ record.year }}/{{ record.race_slug }}/{{ distance.slug }}">{{ record.year }}</td>
{% endif %}
{% if race.slug == 'endurrun' %}
<td>{{ record.age }}</td>
{% else %}
<td>{{ record.category }}</td>
{% endif %}
<td>{{ record.guntime|get_pace:distance.km }}</td>
<td>{{ record.city }}</td>
</td>
</tr>
{% endfor %}
</table>

{% if hill_results %}
<table class="table table-striped table-condensed">
  <tr class="info">
    <th><a href="#hill">Hill Sprint</a></th>
    <th>Time</th>
    <th>Name</th>
    <th>Year</th>
    <th>Category</th>
    <th>City</th>
  </tr>
{% for record in hill_records %}
<tr>
{% ifchanged record.place %}
<td>{{ record.place }}</td>
{% else %}
<td></td>
{% endifchanged %}
<td>{{ record.guntime }}</td>
{% if record.member %}
  <td><a href="/member/{{ record.member.slug }}/">{{ record.athlete }}</a></td>
{% else %}
  <td>{{ record.athlete }}</td>
{% endif %}
<td><a href="/event/{{ record.year }}/{{ record.race_slug }}/{{ distance.slug }}/?hill=true">{{ record.year }}</td>
<td>{{ record.category }}</td>
<td>{{ record.city }}</td>
</td>
</tr>
{% endfor %}
</table>
{% endif %}

<!-- Team/relay records -->
{% if team_records|length > 0 %}
  {% if race.slug == 'laurier-loop' and distance.slug == '2_5-km' %}
    {% include "racedbapp/race_relay-records.html" %}
    <a href="/relay/all/laurier-loop/2_5-km/">Complete relay list</a><br><br>
  {% else %}
    {% include "racedbapp/race_team-records.html" %}
  {% endif %}
{% endif %}

</p>
<p>
<h4>Top 50</h4>
 Filter: <select onchange="location = this.options[this.selectedIndex].value;">
 <option>{{ resultfilter.current }}</option>
   {% for choice in resultfilter.choices %}
     <option value="{{ choice.url }}">{{ choice.name }}</option>
   {% endfor %}
  </select>

</p>
<p>
<table class="table table-striped table-condensed">
<tr class="info">
<th>Place</th>
<th>Time</th>
<th>Name</th>
<th>Year</th>
{% if race.slug == 'endurrun' %}
<th>Age</th>
{% else %}
<th>Category</th>
{% endif %}
{% if distance.slug == 'combined' %}
  <th>5 KM</th>
  <th>8 KM</th>
{% else %}
  <th>Pace</th>
{% endif %}
<th>City</th>
</tr>
{% for result in results %}
<tr>
<td>{{ result.place }}</td>
<td>{{ result.guntime|round_up }}</td>
{% if result.member %}
  <td><a href="/member/{{ result.member.slug }}/">{{ result.athlete }}</td></a>
{% else %}
  <td>{{ result.athlete }}</td>
{% endif %}
{% if distance.slug == 'combined' %}
  <td><a target="_blank" href="/endurrace/{{ result.year }}/">{{ result.year }}</a></td>
{% else %}
  <td><a target="_blank" href="/event/{{ result.year }}/{{ result.race_slug }}/{{ distance.slug }}">{{ result.year }}</a></td>
{% endif %}
{% if race.slug == 'endurrun' %}
<td>{{ result.age }}</td>
{% else %}
<td>{{ result.category }}</td>
{% endif %}
{% if distance.slug == 'combined' %}
  <td>{{ result.extra.0 }}</td>
  <td>{{ result.extra.1 }}</td>
{% else %}
  <td>{{ result.guntime|get_pace:distance.km }}</td>
{% endif %}
<td>{{ result.city }}</td>
</tr>
{% endfor %}
</table>
</p>

{% if hill_results %}
<a name="hill"></a>
<p>
<h4>Top 10 Hill Sprints</h4>
<table class="table table-striped table-condensed">
<tr class="info">
<th>Place</th>
<th>Female</th>
<th>Time</th>
<th>Year</th>
<th>Category</th>
<th>Male</th>
<th>Time</th>
<th>Year</th>
<th>Category</th>
</tr>
{% for result in hill_results %}
<tr>
<td>{{ result.place }}</td>
<td>{{ result.female_result.athlete }}</td>
<td>{{ result.female_time }}</td>
<td>{{ result.female_result.event.date.year }}</td>
<td>{{ result.female_result.category }}</td>
<td>{{ result.male_result.athlete }}</td>
<td>{{ result.male_time }}</td>
<td>{{ result.male_result.event.date.year }}</td>
<td>{{ result.male_result.category }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock content %}
