{% load racedbapp_extras %}
<table class="table table-striped table-condensed">
  <tr class="info">
    <th></th>
    <th>Relay Team Category</th>
    <th>Total Time</th>
    <th>Team Name</th>
    <th>Year</th>
    <th>Pace</th>
  </tr>
  {% for k, v in team_records.items %}
    {% if v %}
      {% for i in v %}
        <tr class="accordion-toggle"
            data-toggle="collapse"
            data-target="#team-{{ i.team_id }}">
          <td class="text-center">
            <i class="fas fa-angle-right fa-icon-expand"></i>
          </td>
          <td class="text-left">{{ k }}</td>
          <td class="text-left">{{ i.team_time }}</td>
          <td class="text-left">{{ i.team }}</td>
          <td class="text-left" data-toggle="no-collapse">
            <a href="/relay/{{ i.year }}/{{ race.slug }}/{{ distance.slug }}/">{{ i.year }}</a>
          </td>
          <td class="text-left">{{ i.team_time|get_pace:10 }}</td>
        </tr>
        <tr>
          <td colspan="7" style="padding:0px;">
            <div id="team-{{ i.team_id }}" class="accordion-body collapse">
              <table class="table">
                <tbody>
                  {% for j in i.legs %}
                    <tr>
                      <td>&nbsp;&nbsp;</td>
                      <td>Leg {{ j.leg }}</td>
                      {% if j.member_slug %}
                        <td>
                          <a href="/member/{{ j.member_slug }}/">{{ j.athlete }}</a>
                        </td>
                      {% else %}
                        <td>{{ j.athlete }}</td>
                      {% endif %}
                      <td>{{ j.guntime }}</td>
                      <td>{{ j.category }}</td>
                      <td class="text-center">{{ j.guntime|get_pace:2.5 }}/km</td>
                      <td>{{ j.city }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr class="accordion-toggle"
          data-toggle="collapse"
          data-target="#team-{{ i.team_id }}">
        <td class="text-center">
          <i class="fas fa-angle-right"></i>
        </td>
        <td class="text-left">{{ k }}</td>
        <td class="text-left"></td>
        <td class="text-left">No record</td>
        <td class="text-left">{{ x }}</td>
        <td class="text-left">{{ x }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
