{% extends "racedbapp/base.html" %}

{% load static %}
{% load racedbapp_extras %}

{% block title %}
  {% if year != "all" %}
    {{ event.date.year }}
  {% else %}
    All-Time
  {% endif %}
  {{ event.race_shortname }}
  {{ event.distance_name }}
  Relay
  |
{% endblock title %}

{% block ogmeta %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Run Waterloo Results" />
  <meta property="og:description" content="Race results for the {{ event.date.year }} {{ event.race_name }}." />
  <meta property="og:image" content="{% static "race_logos/"|add:event.race_slug|add:".png" %}" />
  <meta property="og:image:width" content="200" />
  <meta property="og:image:height" content="200" />
{% endblock ogmeta %}

{% block content %}
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <h3>
        {% if year == "all" %}
          All-Time
        {% endif %}
        Relay Results:
        <small>
          {% if year != "all" %}
            {{ event.date.year }}
          {% endif %}
          {{ event.race_shortname }}
          {{ event.distance_name }}
        </small>
      </h3>
      <p>

{% if year == "all" %}
  <select onchange="location = this.options[this.selectedIndex].value;">
  <option>{{ filters.category_filter.current }}</option>
  {% for cc in filters.category_filter.choices %}
    <option value="{{ cc.url }}">{{ cc.name }}</option>
  {% endfor %}
  </select>
{% endif %}

      {% if year != "all" %}
        {{ event.date }} - {{ event.city }}
        {% if event.flickrsetid %}
          &nbsp;&nbsp;<a href="https://www.flickr.com/photos/runwaterloo/albums/{{ event.flickrsetid }}" target="_blank"><i class="fas fa-camera"></i></a>
        {% endif %}
        {% if event.youtube_id %}
          &nbsp;&nbsp;<a href="https://youtu.be/{{ event.youtube_id }}" target="_blank"><i class="fas fa-video"></i></a>
        {% endif %}
      </p>
      <ul class="pagination pagination-sm">
        {% for p in pages %}
            <li class="{{ p.active }}"><a href="{{ p.href }}">{{ p.label }}</a></li>
        {% endfor %}
      </ul>
      <!-- Filter table -->
      <table class="table table-bordered table-condensed">
        <thead>
          <tr class="info">
            <th class="text-center">Year</th>
            <th class="text-center">Category Filter</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <select onchange="location = this.options[this.selectedIndex].value;">
                  <option>{{ filters.year_filter.current }}</option>
                  {% for yc in filters.year_filter.choices %}
                  <option value="{{ yc.url }}">{{ yc.name }}</option>
                  {% endfor %}
                </select>
              </td>
            <td class="text-center">
              <select onchange="location = this.options[this.selectedIndex].value;">
              <option>{{ filters.category_filter.current }}</option>
              {% for cc in filters.category_filter.choices %}
                <option value="{{ cc.url }}">{{ cc.name }}</option>
              {% endfor %}
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- End Filter Table -->
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div style="padding-top: 20px; padding-bottom: 20px">
        <img class="img-rounded pull-right" src="{% static "race_logos/"|add:event.race_slug|add:".png" %}" height="170">
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class="table table-bordered table-condensed table-hover">
        <thead>
          <tr class="info"?>
            <th class="text-center" scope="col"></th>
            <th class="text-center" scope="col">#</th>
            {% if year == "all" %}
              <th class="text-center" scope="col">Year</th>
            {% endif %}
            <th class="text-left" scope="col">Team Name</th>
            <th class="text-center" scope="col">Time</th>
            <th class="text-center" scope="col">Pace</th>
            <th class="text-center" scope="col">Gender</th>
            <th class="text-center" scope="col">Masters</th>
          </tr>
        </thead>
        <tbody>
        {% for i in team_results %}
          <tr class="accordion-toggle" data-toggle="collapse" data-target="#team-{{ i.team_id }}">
            <td class="text-center">
              <i class="fas fa-angle-right fa-icon-expand"></i>
            </td>
            <td class="text-center">{{ forloop.counter }}</td>
            {% if year == "all" %}
              <td class="text-center" scope="col">{{ i.year }}</td>
            {% endif %}
            <td class="text-left">{{ i.team }}</td>
            <td class="text-center">{{ i.team_time }}</td>
            <td class="text-center">{{ i.team_time|get_pace:event.total_relay_distance }}</td>
            <td class="text-center">{{ i.gender }}</td>
            <td class="text-center">
              {% if i.ismasters %}
                <i class="fas fa-check fa-icon-counts"></i>
              {% else %}
                <i class="fas fa-minus"></i>
            {% endif %}
            </td>
          </tr>
          <tr>
            <td colspan="7" style="padding:0px;">
              <div id="team-{{ i.team_id }}" class="accordion-body collapse">
                <table class="table">
                  <tbody>
                    {% for j in i.legs %}
                      <tr>
                        <td>&nbsp;&nbsp;</td>
                        <td>Leg {{ j.leg }}</td>
                        {% if j.member_slug %}
                          <td><a href="/member/{{ j.member_slug }}/">{{ j.athlete }}</td>
                        {% else %}
                          <td>{{ j.athlete }}</td>
                        {% endif %}
                        <td>{{ j.guntime }}</td>
                        <td>{{ j.category }}</td>
                        <td class="text-center">{{ j.guntime|get_pace:event.relay_leg_distance }}/km</td>
                        <td>{{ j.city }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


{% endblock content %}
