celery==5.6.2
django-prometheus==2.4.1
django-redis==6.0.0
django-slack==5.19.0
Django==5.2.11
djangorestframework==3.16.1
drf-nested-routers==0.95.0
flickrapi==2.4.0
gspread==6.2.1
gunicorn==25.1.0
PyYAML==6.0.3
whitenoise==6.11.0
psycopg[binary]==3.3.3
