name: Integration Tests
permissions:
  contents: read

on:
  pull_request:
    paths:
      - 'deploy/helm/values.yaml'
      - 'deploy/local/docker-compose.yml'
      - 'Dockerfile'
      - 'racedbapp/models.py'
      - 'requirements/**'
  workflow_dispatch:

jobs:
  Execute:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Copy Django secrets file
        run: cp racedb/secrets.py.sample racedb/secrets.py

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            docker-compose

      - name: Install Python development dependencies
        run: pip install -r requirements/requirements-dev.txt

      - name: Start local environment
        run: ./deploy/local/start.sh
        shell: bash

      - name: System check
        run: docker exec racedb-web ./manage.py check

      - name: Check migrations
        run: |
          docker exec racedb-web ./manage.py makemigrations --check --dry-run
          if [ $? -ne 0 ]; then
            echo "::error::Migration check failed! Please run 'makemigrations' and commit the changes."
            exit 1
          fi

      - name: Run tests inside container
        run: docker exec racedb-web pytest
